<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
</head>
<body>
  <h1>My Blog</h1>
  
  <!-- tmpl_loop blog-posts -->
    <div>
      <h2>* <a href="/view/?<!-- tmpl_var url-part -->"><!-- tmpl_var title --></a></h2>
      <div>
        <!-- tmpl_var body -->
      </div>
    </div>
  <!-- /tmpl_loop -->
  
</body>
</html>
