<!DOCTYPE html>
<html>
<head>
  <title><!-- tmpl_var title --> - My Blog</title>
  <style type="text/css">
body {
    margin-left: 10%;
    margin-right: 10%;
    background: white;
    color: black;
}

h1 {
    font-variant: small-caps;
    border-bottom: 2px solid black;
    color: darkblue;
}

h2 {
    font-variant: small-caps;
    color: darkblue;
}
  </style>
</head>
<body>
  <h1>* <!-- tmpl_var title --></h1>
  <div>
    <!-- tmpl_var body -->
  </div>
</body>
</html>